<div class = "main-login">

  <h1>Log in please</h1>
  <%= form_with(url: session_path,class: "form", id: "login-form")  do |form| %>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "form-control", id: "li-email", type: "email"  %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password, id: "li-password",class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Log in", class: "btn btn-primary btn-lg", style: "height: 60px;width:200px;" %>
    <%= link_to "Sign up", '/users/new', :method => "get", class: "btn btn-primary btn-lg", style: "height: 60px;width:200px;" %>
  </div>
<% end %>
</div>