<% if @tasks.where(completed: true).count.zero?%>
          <p>You have no completed tasks yet</p>
        <%end%>
        <% @tasks.all.where(completed: true).order('completed_time DESC').reject{|task| task.completed_time.nil?}.each do |task| %>
          <% if task.completed_time.today? && @option == "today"|| task.completed_time.month == Date.today.month && @option == "month" || task.completed_time.to_date.cweek == Date.today.cweek && @option == "week"|| @option == "all"%>
            <div id="<%= dom_id task %>" class="task">
            <%=button_to " ", uncomplete_path(:task => task), class: 'btn_instead_of_checkbox_return', onclick:"play_bad()"%>
            <div style="text-decoration: line-through">
              <p>
                <%= task.title %>
              </p>
            </div>

                <div class="box">
                  <a class="button"  href="#popup<%= dom_id task %>">ShowTask</a>
                </div>

                <div id = "popup<%= dom_id task %>" class="overlay">
                  <div class="popup">
                    <div class= "content">
                      <strong>Title:</strong>
                        <%= task.title %>
                        <br/>
                        <strong>Due:</strong>
                        <%= task.due %>
                        <% if user_signed_in?%>
                          <strong>User id:</strong>
                          <%= task.user_id %>
                        <%end%>
                        <strong>Completed:</strong>
                        <%= task.completed %>

                        <div>
                          <%= link_to "Edit this tasks", edit_task_path(task) %> |
                          <%= link_to "Back to tasks", tasks_path %>

                          <%= button_to "Destroy this tasks", task, method: :delete %>
                        </div>

                    </div>
                  </div>
                </div>
          </div>

          <%end%>  
        <% end %>