<%= form_with(model: task, class: 'form') do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :due, style: "display: block" %>
    <%= form.date_field :due, id: "due-input", class: 'input-group date' %>
  </div>

  <div>
    <%= form.label :reminder, style: "display: block" %>
    <%= form.check_box :reminder, id: "reminder" %>
  </div>

  <div class = "reminder_show" style="display: none">
    <%= form.label :reminder_time, style: "display: block" %>
    <%= form.time_field :reminder_time %>
  </div>

  <div>
    <%= form.submit "Save Task", class: "btn btn-success btn-lg" %>
  </div>
<% end %>




