<% if @tasks.where(completed: false).count.zero?%>
          <p style="font-size:20px;text-align:center">All tasks are completed! Congratulations!</p>
          <img src = "<%= image_path('completed.jpg') %>" alt= "completed_image" style="width:25%;margin-left:37%">
    <%end%>
    
    <% @tasks.all.order('created_at DESC').each do |task| %>
      <% if task.completed == false%>
        <div id="<%= dom_id task %>" class="task">

        <%=button_to " ", complete_path(task: task), class: 'btn_instead_of_checkbox', onclick:"play_good()"%> 
        <p>
          <%= task.title %>
        </p>

        <a class="link" data-bs-toggle="modal" data-bs-target="#pending<%= dom_id task %>">Open</a>

        <div class="modal fade" id="pending<%= dom_id task %>" tabindex="-1" aria-labelledby="open_label" aria-hidden="true">
          <div class="modal-dialog  modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="open_label">Task</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                <%= render "task_show", task: task %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div> 

        </div>
      <%end%>  
    <% end %>