<% if @tasks.where(completed: false).count.zero?%>
          <p style="font-size:20px;text-align:center">All tasks are completed! Congratulations!</p>
          <img src = "<%= image_path('completed.jpg') %>" alt= "completed_image" style="width:25%;margin-left:37%">
    <%end%>
    
    <% @tasks.all.order('created_at DESC').each do |task| %>
      <% if task.completed == false%>
        <div id="<%= dom_id task %>" class="task">

        <%=button_to " ", complete_path(task: task), class: 'btn_instead_of_checkbox', onclick:"play_good()"%> 
        <p>
          <%= task.title %>
        </p>

        <%=link_to "bruh   ", "/tasks/#{task.id}" %>
        <div class="box">
          <a class="button"  href="#popup<%= dom_id task %>" data-toggle="modal">ShowTask</a>
        </div>

        <div id = "popup<%= dom_id task %>" class="overlay modal">
          <div class="popup">
          <a class="close" href="#">&times;</a>
            <div class= "content">
              <strong>Title:</strong>
                <%= task.title %>
                <br/>
                <strong>Due:</strong>
                <%= task.due %>
                <% if user_signed_in?%>
                  <strong>User id:</strong>
                  <%= task.user_id %>
                <%end%>
                <strong>Completed:</strong>
                <%= task.completed %>

                <div>
                  <%= link_to "Edit this tasks", edit_task_path(task) %> |
                  <%= link_to "Back to tasks", tasks_path %>

                  <%= button_to "Destroy this tasks", task, method: :delete %>
                </div>

            </div>
          </div>
        </div>      

        </div>
      <%end%>  
    <% end %>