<div id="<%= dom_id task %>" class="task">

  <input class="form-check-input" type="checkbox" onchange="change_task_status()" id="<%= dom_id task %>_checkbox">
  <strong>Title:</strong>
  <%= task.title %>
  <br/>
  <strong>Due:</strong>
  <%= task.due %>
  <% if user_signed_in?%>
    <strong>User id:</strong>
    <%= task.user_id %>
  <%end%>
  <strong>Completed:</strong>
  <%= task.completed %>
  <p>
    <%= link_to "Show this task", task, class: 'link' %>
  </p>
</div>
