<p style="color: green"><%= notice %></p>

<strong><%=t(:title)%>:</strong>
<%= @task.title %>
<br/>
<strong><%=t(:due)%>:</strong>
<%= @task.due %>
<% if user_signed_in?%>
  <strong><%=t(:id)%>:</strong>
  <%= @task.user_id %>
<%end%>
<strong><%=t(:completed)%>:</strong>
<%= @task.completed %>

<div>
  <%= link_to t(:edit_task), edit_task_path(@task) %> |
  <%= link_to t(:back_to_tasks), tasks_path %>

  <%= button_to t(:destroy_task), '/tasks/destroy' %>
</div>
