<p style="color: green"><%= notice %></p>


<%if !@requests.empty?%>
<div id="requests">
  <h1>New friend requests!</h1>
    <% @requests.each do |request| %>
      <div id="<%= dom_id request %>" class = "request">
        <% @user = User.find(request.who_sent_request)%>
        <p>
          <strong>Nick:</strong>
          <%= @user.nick %>
        </p>
        <div class = "buttons_near">
          <%= render "friends/accept_request", locals: {friend_2: @user.id, friend_1: current_user.id} %>
          <%= render "friends/decline_request", locals: {friend_2: @user.id, friend_1: current_user.id} %>
        </div>
      </div>
    <% end %>
    </div>
<%end%>

<h1>Friends</h1>
<%=link_to "See other users", users_path, class: 'btn btn-outline-primary'%>
<%if @friends.empty?%>
  <div id = "make_friends">
    <h1>Friends make our lives better! Add some friends here!</h1>
    <a href="<%=users_path%>">
      <img src = "<%= image_path('4friends.png') %>" alt= "add friends" id= "add_friends" >
    </a>
  </div>
<%end%>
<div id="friends">
  <% @friends.each do |friend| %>
    <div id="<%= dom_id friend %>" class = "friend">
      <% @user = User.find(other_user(friend.friend_1, friend.friend_2))%>
      <p>
        <strong>Nick:</strong>
        <%= @user.nick %>
      </p>
      <p>
      <%= link_to "Show this friend", @user, class: 'link'%>
    </p>
    </div>
  <% end %>
</div>

