<p style="color: green"><%= notice %></p>


<%if !@requests.empty?%>
<div id="requests">
  <div id = "requests_for_css">
  <h1><%=t(:new_friend_requests)%></h1>
    <% @requests.each do |request| %>
      <div id="<%= dom_id request %>" class = "request">
        <% @user = User.find(request.who_sent_request)%>
        <p>
          <strong><%=t(:nick)%></strong>
          <%= @user.nick %>
        </p>
        <div class = "buttons_near">
          <%= render "friends/accept_request", locals: {friend_2: @user.id, friend_1: current_user.id} %>
          <%= render "friends/decline_request", locals: {friend_2: @user.id, friend_1: current_user.id} %>
        </div>
      </div>
    <% end %>
    </div>
    </div>
<%end%>

<h1><%=t(:friends)%></h1>
<%=link_to t(:find_new_friends), users_path, class: 'btn btn-outline-primary'%>
<%if @friends.empty?%>
  <div id = "make_friends">
    <h1><%=t(:make_friends)%></h1>
    <a href="<%=users_path%>">
      <img src = "<%= image_path('4friends.png') %>" alt= "add friends" id= "add_friends" >
    </a>
  </div>
<%end%>
<div id="friends">
  <% @friends.each do |friend| %>
    <div id="<%= dom_id friend %>" class = "friend">
      <% @user = User.find(second_user(User.find(friend.friend_1), User.find(friend.friend_2)).id)%>
      <%=%>
      <p>
        <strong><%=t(:nick)%>: </strong>
        <%= @user.nick %>
      </p>
      <p>
      <%= link_to t(:show_this_friend), @user, class: 'link'%>
    </p>
    </div>
  <% end %>
</div>

