<div id="<%= dom_id user %>" >
  <% if user_signed_in? && current_user.id == user.id%>
    <h1>My account</h1>
    <div style="display:flex;">
      <%= link_to "Edit my account", edit_user_path(@user), class:'btn btn-primary' %>
      <%= button_to "Delete my account", @user, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>    
    </div>
    <p>
      <strong>Id:</strong>
      <%= user.id %>
    </p>
    <p>
  <%end%>
      <strong>Nick:</strong>
      <%= user.nick %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= user.surname %>
    </p>

    <% if user_signed_in? && current_user.id == user.id%>
    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= user.password %>
    </p>
    <%end%>
    <p>
      <strong>Pending tasks:</strong>
      <%=@pending_tasks.count%>
    </p>
    
    <p>
      <strong>Completed tasks:</strong>
      <%=@completed_tasks.count%>
    </p>

    <%if current_user.id == user.id %>
      <h1>Your progress this week</h1>
    <%else%>
      <h1><%=user.nick%>'s progress this week</h1>
    <%end%>
    


    <%= column_chart @completed_tasks.group_by_day(:completed_time, last:7).count, id: "histogram"%>
</div>
