<div id="<%= dom_id user %>">
  <% if user_signed_in? && current_user.id == user.id%>
    <p>
      <strong>Nick:</strong>
      <%= user.nick %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= user.surname %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= user.password %>
    </p>

    <p>
      <strong>Id:</strong>
      <%= user.id %>
    </p>
  <%else%>
      <p>
      <strong>Nick:</strong>
      <%= user.nick %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= user.surname %>
    </p>

    <p>
      <strong>Id:</strong>
      <%= user.id %>
    </p>
  <%end%>
</div>
