<div id="<%= dom_id user %>" >
  <% if user_signed_in? && current_user.id == user.id%>
    <h1>My account</h1>
    <div style="display:flex;">
      <%= link_to "Edit my account", edit_user_path(@user), class:'btn btn-primary' %>
      <%= button_to "Delete my account", @user, method: :delete, class: 'btn btn-danger' %>    
    </div>
    <p>
      <strong>Id:</strong>
      <%= user.id %>
    </p>
    <p>
      <strong>Nick:</strong>
      <%= user.nick %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= user.surname %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= user.password %>
    </p>

    <p>
      <strong>Pending tasks:</strong>
      <%=@pending_tasks%>
    </p>
    
    <p>
      <strong>Completed tasks:</strong>
      <%=@completed_tasks%>
    </p>
    
    
  <%else%>
      <p>
      <strong>Nick:</strong>
      <%= user.nick %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= user.surname %>
    </p>

    

  <%end%>
</div>
