<%=link_to "Week Calendar", week_path, type: "button", class: 'btn btn-primary'%>

<%# <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
<label for="toggle-on" class="btn">Week</label>
<input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
<label for="toggle-off" class="btn">Month</label> %>


<%= month_calendar(events: @tasks) do |date, task| %>
  <div style="display: flex;justify-content:space-between">
    <%= date %>
    <div class="box">
      <%=link_to '+', "#new_task_modal", class:'calendar_button', type:'button'%>
    </div>
  </div>

  <div id = "new_task_modal" class="overlay">
    <div class="popup">
    <a class="close" href="/#">&times;</a>
    <%@task = Task.new%>
      <div class= "content">
        <h1>New task</h1>
        <%= render "tasks/form", task: @task %>
        <br>
        <div>
          <%= link_to "Back to tasks", tasks_path, class: 'btn btn-outline-secondary' %>
        </div>            
      </div>
    </div>
  </div>
  </div>


  <% task.each do |task| %>
  <div style= "display:flex;justify-content:space-between ">
    <% if task.completed %>
      <div style="text-decoration: line-through">
        <%= task.title %>
      </div>
    <%else%>
      <div>
        <%= task.title %>
      </div>
    <%end%>
        <div class="box">
          <a class="button"  href="#month<%= dom_id task %>">Open</a>
        </div>

        <div id = "month<%= dom_id task %>" class="overlay">
          <div class="popup">
          <a class="close" href="#">&times;</a>
            <div class= "content">
              <strong>Title:</strong>
                <%= task.title %>
                <br/>
                <strong>Due:</strong>
                <%= task.due %>
                <% if user_signed_in?%>
                  <strong>User id:</strong>
                  <%= task.user_id %>
                <%end%>
                <strong>Completed:</strong>
                <%= task.completed %>

                <div>
                  <%= link_to "Edit this tasks", edit_task_path(task) %> |
                  <%= link_to "Back to tasks", tasks_path %>

                  <%= button_to "Destroy this tasks", task, method: :delete %>
                </div>
              
            </div>
          </div>

        </div>
  </div>
  <% end %>
<% end %>