<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "//www.google.com/jsapi"%>
    <%= javascript_include_tag "application", "chartkick" %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

</head>

  <body>
    <header>
      <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="<%=asset_path('icon.jpg')%>" style="height:50px"></a>
        <a class="navbar-brand" href="/"><%=t(:todo)%></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <%if user_signed_in?%>
          <ul class="navbar-nav">
            
            <li class="nav-item">
              <a class="nav-link" href="/month"><%=t(:calendar)%></a>
            </li>
            <li class="nav-item" style="display:flex;">
              <a class="nav-link" href="/friends"><%=t(:my_friends)%></a>
              <%@requests = requests%>
              <%if !@requests.empty?%>
                <img src="<%=asset_path('bell.png')%>" id = "red_bell">
              <%end%>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/friends_competitions"><%=t(:competitions)%></a>
            </li>
          </ul> 
          <%end%>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li id = "locals">
                  <% if I18n.locale == :ru %>
                    <img src="<%=asset_path('ru.png')%>",  style="height: 30px;">
                    <%= link_to "RU", { :locale=>'en' }, class: "local" %>

                  <% else %>
                    <img src="<%=asset_path('eng.png')%>", style="height: 30px;">
                    <%= link_to "ENG", { :locale=>'ru' } , class: "local"%>
                  <%end%>
                </li>
                <%if user_signed_in?%>
                  <li class="nav-item dropdown mr-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= session[:user_nick]%>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><%=button_to t(:my_account), "/users/#{session[:user_id]}", class: "dropdown-item btn", method: :get, type: "button"%></li>
                      <li><%=button_to t(:sound_settings), "/sounds", class: "dropdown-item btn", method: :get, type: "button"%></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><%= button_to t(:logout), session_path, method: :delete, class: "dropdown-item btn btn-lg"%></li>
                    </ul>
                  </li>
                  <%else%>
                    <li class="nav-item">
                      <a class="nav-link" href="/login"><%=t(:login)%></a></i>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/new"><%=t(:signup)%></a></i>
                    </li>
                <%end%>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </header>
    <div id="flash">
      <% flash.each do |type, msg| %>
        <%if type == "error"%>
          <%type = "danger"%>
        <%end%>
        <div class='alert alert-<%= type%>'>
          <%= msg %>
        </div>
      <% flash.clear %>
      <% end %>
    </div>
    <%= yield %>




    <div class="modal fade" id="new_task" tabindex="-1" aria-labelledby="new_task_label" aria-hidden="true">
      <div class="modal-dialog  modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="new_task_label"><%=t(:new_task)%></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <%@task = Task.new%>
            <div class= "content">
              <%= render "tasks/form", task: @task %>
              <br>
              <div>
                <%= link_to t(:back_to_tasks), tasks_path, class: 'btn btn-outline-secondary' %>
              </div>            
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%=t(:close_modal)%></button>
          </div>
        </div>
      </div>
    </div> 

<audio id="wahwahwah" src="<%= asset_path('wahwahwah.mp3') %>"></audio>
<audio id="sad_violin" src="<%= asset_path('sad_violin.mp3') %>"></audio>
<audio id="spongebob-fail" src="<%= asset_path('spongebob-fail.mp3') %>"></audio>
<audio id="si" src="<%= asset_path('si.mp3') %>"></audio>
<audio id="done" src="<%= asset_path('done.mp3') %>"></audio>
<audio id="beep" src="<%= asset_path('beep.mp3') %>"></audio>
<audio id="coins" src="<%= asset_path('coins.mp3') %>"></audio>
<audio id="oou" src="<%= asset_path('oou.mp3') %>"></audio>
<audio id="piu" src="<%= asset_path('piu.mp3') %>"></audio>
<audio id="wet" src="<%= asset_path('wet.mp3') %>"></audio>
<audio id="accomplished" src="<%= asset_path('accomplished.mp3') %>"></audio>
<audio id="ddd" src="<%= asset_path('ddd.mp3') %>"></audio>
<audio id="elegant" src="<%= asset_path('elegant.mp3') %>"></audio>
<audio id="error" src="<%= asset_path('error.mp3') %>"></audio>
<audio id="p" src="<%= asset_path('p.mp3') %>"></audio>
<audio id="smile-ringtone" src="<%= asset_path('smile-ringtone.mp3') %>"></audio>
<audio id="swiftly" src="<%= asset_path('swiftly.mp3') %>"></audio>
<audio id="system-fault" src="<%= asset_path('system-fault.mp3') %>"></audio>
<audio id="yo" src="<%= asset_path('yo.mp3') %>"></audio>




    <footer>  
      <% if user_signed_in?%>
        <div id = "never_gonna_give_you_up">
          <h5><%=t(:dont_click_me)%></h5>
            <iframe onmouseover=show() onmouseout=dont_show() width="110" height="100" src="https://www.myinstants.com/instant/click-here/embed/" frameborder="0" scrolling="no"></iframe>
        </div>
      <%end%>
    </footer>
  </body>

<script>
function play(option) {
var audio_good = document.getElementById(option);
audio_good.play();
}
function show() {
    var dance = document.getElementById('container');
    dance.style.visibility='visible'
}
function dont_show() {
  var dance = document.getElementById('container');
  dance.style.visibility='hidden'
}



</script>
</html>